input::-webkit-input-placeholder {
    color: #767676;
}

input::-moz-placeholder {
    color: #767676;
}

label {
    display: block;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
}

input {
    width: 100%;
    padding: 16px 8% 16px 2%;
    border-color: #a9a9a9;
    border-style: solid;
    border-width: 1px;
    line-height: 15px;
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
    max-height: 380px;
    width: 100%;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
    box-shadow: 0 2px 2px rgba(0,0,0,0.4);
    color: #222;
    position: absolute;
    top: 77px;
    left: 0;
}

li {
    padding: 0;
    cursor: pointer;
    border-bottom: 1px solid #eaeaea;
    padding: 10px;
}

.search-component {
    position: relative;
}

.location-details {
    color: #767676;
}