<div class="search-component">
    <label for="search-box">Pick-up Location</label>
    <input #searchBox
      id="search-box"
      name="pick-location"
      placeholder='city, airport, station, region and district...'
      (input)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let location of locations$ | async" >
        {{location.name}}<span *ngIf="location.city || location.country">,</span>
        <span class="location-details">
          {{location.city}}<span *ngIf="location.city && location.country">,</span> {{location.country}}
        </span>
      </li>
    </ul>
  </div>
  