.wrapper {
    width: 100%;
    background: #eee;
    border-top: 1px solid #e6e6e6;
}

.copyright {
    color: #444;
    font-size: 12px;
    padding: 16px 0;
    margin: 0;
}

@media (min-width: 768px) {
    .container {
        max-width: 1200px;
    }
}