.home-wrapper {
    width: 100%;
    min-height: 800px;
    background-color: #0b76c5;
    padding: 30px 0;
}

h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.description {
    font-size: 22px;
    color: #ffe89c;
    font-weight: 700;
}

@media (min-width: 768px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 40px;
    }
}