<div class="home-wrapper">
  <div class="container">
    <div class="row">
        <div class="message-box col-md-6 col-sm-12 col-xs-12"> 
          <h1>Car Hire – Search, Compare & Save</h1>
          <p class="description">Compare 900 companies at over 60,000 locations. Best price guaranteed</p>
        </div>
        <div class="search-widget col-md-6 col-sm-12 col-xs-12">
            <app-search-widget></app-search-widget>
        </div>
    </div>
  </div>
</div>