.wrapper {
    background: #0b76c5;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0; 
}

.logo {
    width: 150px!;
    height: 50px;
    background-image: url(https://cdn.rcstatic.com/images/site_graphics/newsite/mobile/logos/rc-logo-small--white.svg);
    background-repeat: no-repeat;
    background-position: left center;
}

@media (min-width: 768px) {
    .container {
        max-width: 1200px;
    }
}