<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="logo-wrapper col-md-6">
                <div itemscope="" itemtype="http://schema.org/Organization" class="logo"></div>
            </div>
        </div>
    </div>
</div>